
<body>
   
            <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="nav">
            <div class="container-fluid">
            <div class="text-right"></div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#myNavigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="myNavigation">
              <ul class="navbar-nav ml-auto">          
                <li class="nav-item MenuNav">
                      <a class="nav-link" href="#about" id="menu">{{ 'About' | translate}}</a>
                </li>
                <li class="nav-item MenuNav">
                      <a class="nav-link" href="#carriers" id="menu">{{ 'Carriers' | translate}}</a>
                </li>
                 <li class="nav-item MenuNav">
                      <a class="nav-link" href="#projects" id="menu">{{ 'Projects' | translate}}</a>
                </li>
                 <li class="nav-item MenuNav">
                      <a class="nav-link" href="#skills" id="menu">{{ 'Skills' | translate}}</a>
                </li>
                 <li class="nav-item MenuNav">
                      <a class="nav-link" href="#contact" id="menu">{{ 'Contact' | translate}}</a>
                </li>
                <li class="nav-item LanguageFlag">
                    <a class="nav-link" (click)="switchLanguage('pl')"><img src="../assets/img/poland-flag-icon-32.png"></a>
                </li>
                <li class="nav-item LanguageFlag">
                    <a class="nav-link" (click)="switchLanguage('en')"><img src="../assets/img/united-kingdom-flag-icon-32.png"></a>
                </li>
  </ul>
                </div>
                </div>
</nav>

  <header id="home">
       </header>
      <div class="caption text-center" id="started">
          <h1 class="hs-text-10 font-second">JUNIOR FRONT-END DEVELOPER</h1>
          <h2 class="headerdescription"> Robert Strzelczyk <a href="https://www.linkedin.com/in/robert-strzelczyk-3910b415a/" id="nameandsurname">(@robert-strzelczyk)</a></h2>
     
  </div>
   
   <div id="about">
          <div class="row no-gutters">
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
           <p>{{'MyName' | translate}} <strong>Robert Strzelczyk</strong> {{'MyInteresting' | translate}}<br />
           {{'StudyDescription' | translate}} <strong>{{'IT' | translate}}</strong> {{'AtTheFaculty' | translate}} <strong>{{'Faculty' | translate}}</strong> {{'WorkDescription' | translate}} <strong>HTML</strong>, <strong>CSS</strong>, <strong>JS</strong>, <strong>Angular</strong> {{'And' | translate}} <strong>Angular Material</strong>.<br />
           {{'MyPlans' | translate}} <br />
           <br />
           {{'MyHobby' | translate}}
           <br />
           {{'FindMeAt' | translate}} <a href="https://www.facebook.com/robert.strzelczyk.90" id="Fb">Facebook / </a><a href="https://www.linkedin.com/in/robert-strzelczyk-3910b415a/" id="In">LinkedIn / </a>
           
           </p>
       <div class="row no-gutters">
       <div class="col-lg-6">
       <a href="https://drive.google.com/file/d/1wCSphdKChjPEO7or0Kt36Xo_xTVv_Uzt/view?usp=sharing">
       <button class="btn btn-success" id="DownloadCVPL"><img src="../assets/img/poland-flag-icon-16.png" id="PolishFlag">{{ 'Download' | translate}} <i class="fa fa-download"></i></button></a>
       </div>
       <div class="col-lg-6">
       <a href="https://drive.google.com/file/d/14rhcRjqdpjNdw4faKhYxSp-01HuztPXO/view?usp=sharing">
       <button class="btn btn-danger" id="DownloadCVEN"><img src="../assets/img/united-kingdom-flag-icon-32.png" id="EnglishFlag">{{ 'Download' | translate}}<i class="fa fa-download"></i></button></a>
       </div>
       </div>
              </div>
       <div class="col-lg-4">
          <img src="../assets/img/myPhoto.jpg" height="500px" width="450px" alt="Landing Page">
          </div>
       
       
   </div>
    </div>
   `<div id="carriers">
        <div class="timeline">
            <ul>
                <li>
                    <div class="Horizontalcontent">
                        <h3>{{'HighSchool' | translate}}</h3>
                        <p>{{'Specialization' | translate}}<br />
                           {{'EducationLevel' | translate}}
                        </p>
                    </div>
                    <div class="time">
                        <h4>09.2011 - 06.2014</h4>
                    </div>
                </li>
                <li>
                    <div class="Horizontalcontent">
                        <h3>{{'University' | translate}}</h3>
                       <p>{{'FieldOfStudy' | translate}} <br />
                          {{'StudySpecialization' | translate}} <br />
                          {{'StudyEducationlevel' | translate}}
                       </p>
                    </div>
                    <div class="time">
                        <h4>10.2014 - 02.2018</h4>
                    </div>
                </li>
                <li>
                    <div class="Horizontalcontent">
                        <h3>{{'University' | translate}}</h3>
                         <p>{{'FieldOfStudy' | translate}} <br />
                          {{'StudySecondSpecialization' | translate}}<br />
                          {{'SecondEducationLevel' | translate}}
                          </p>
                    </div>
                    <div class="time">
                        <h4>02.2018 - 07.2019</h4>
                    </div>
                </li>
                <li>
                    <div class="Horizontalcontent">
                        <h3>Savangard sp.z o.o</h3>
                        <p> {{'Position' | translate}} <br />
                           {{'JobDescription' | translate}} <br />
                           - {{'FirstDescription' | translate}} <br />
                           - {{'SecondDescription' | translate}} <br />
                           - {{'ThirdDescription' | translate}}
                        </p>
                    </div>
                    <div class="time">
                        <h4>07.2018 - 06.2019</h4>
                    </div>
                </li>
                <div class="emptyDiv"></div>
            </ul>
        </div>
   </div>
   <div id="projects">
      <div class="row no-gutters">
          <div class="col-lg-2"></div>
          <div class="col-lg-3 projectgrid">
            <a href="https://github.com/robertstrzelczyk/OnlineShop.git">
             <img src="../assets/img/FirtsProject.png" style="width: 400px; height: 400px">
             </a>
          </div>
          <div class="col-lg-3 projectgrid">
             <a href="https://github.com/robertstrzelczyk/DAFTCODE-task.git">
              <img src="../assets/img/SecondProject.png" style="width: 400px; height: 400px">
              </a>
          </div>
          <div class="col-lg-3 projectgrid">
             <a href="https://github.com/robertstrzelczyk/Online-Shop-Project.git">
              <img src="../assets/img/ThirdProject.png" style="width: 400px; height: 400px">
              </a>
          </div>
          <div class="col-lg-2"></div>
      </div>
       <div class="row no-gutters">
          <div class="col-lg-2"></div>
          <div class="col-lg-3 projectgrid">
             <a href="https://github.com/robertstrzelczyk/Students-task.git">
              <img src="../assets/img/FourthProject.png" style="width: 400px; height: 400px">
              </a>
          </div>
          <div class="col-lg-3 projectgrid">
             <a href="https://github.com/robertstrzelczyk/Portfolio.git">
              <img src="../assets/img/FifthProject.png" style="width: 400px; height: 400px">
              </a>
          </div>
          <div class="col-lg-3 projectgrid">
             <a href="https://github.com/robertstrzelczyk/RSChatter.git">
              <img src="../assets/img/SixthProject.png" style="width: 400px; height: 400px">
              </a>
          </div>
          <div class="col-lg-2"></div>
      </div>
   </div>
   <div id="skills" class="skillsSection">
   <div class="box">
      <h1>Frontend</h1>
      <div class="row no-gutters">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
       <div class="chart" data-percent="85">
           <img class="Image" src="https://icongr.am/devicon/html5-original-wordmark.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="85">
           <img class="Image" src="https://icongr.am/devicon/css3-original-wordmark.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="85">
           <img class="Image" src="https://icongr.am/devicon/bootstrap-plain-wordmark.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="55">
           <img class="Image" src="https://icongr.am/devicon/javascript-original.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="65">
           <img class="Image" src="https://icongr.am/devicon/jquery-plain-wordmark.svg">
       </div>
       </div>
        <div class="col-lg-1"></div>   
       </div>
       <div class="row no-gutters">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
       <div class="chart" data-percent="45">
           <img class="Image" src="https://icongr.am/devicon/angularjs-original.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="50">
           <img class="Image" src="https://icongr.am/devicon/wordpress-original.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="60">
           <img class="Image" src="https://icongr.am/devicon/sass-original.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="30">
           <img class="Image" src="https://icongr.am/devicon/typescript-original.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="70">
           <img class="Image" src="../assets/img/material.png">
       </div>
       </div>
        <div class="col-lg-1"></div>   
       </div>
   </div>
   <div class="box" id="box2">
      <h1>{{'Others' | translate}}</h1>
      <div class="row no-gutters">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
       <div class="chart" data-percent="55">
           <img class="Image" src="https://icongr.am/devicon/dot-net-original-wordmark.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="65">
           <img class="Image" src="https://icongr.am/devicon/github-original-wordmark.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="70">
           <img class="Image" src="../assets/img/microsoft-sql-server.svg">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="75">
           <img class="Image" src="../assets/img/com.castsoftware.entity.png">
       </div>
       </div>
       <div class="col-lg-2">
       <div class="chart" data-percent="65">
           <img class="Image" src="../assets/img/soapui-logo.png">
       </div>
       </div>
        <div class="col-lg-1"></div>   
       </div>
   </div>
</div>
  
   <div id="contact">
      <h1 class="Footerhead">{{'FindMeAt' | translate}} </h1>
      <div class="iconDiv">
       <a  href="https://www.facebook.com/robert.strzelczyk.90"><i class="fa fa-facebook-f"></i></a>
       <a  href="https://www.instagram.com/rstrzelczyk/" class="iconMargin"><i class="fa fa-instagram"></i></a>
       <a  href="https://www.linkedin.com/in/robert-strzelczyk-3910b415a/" class="iconMargin"><i class="fa fa-linkedin"></i></a>
       <a  href="https://github.com/robertstrzelczyk" class="iconMargin"><i class="fa fa-github"></i></a>
       </div>
       <p class="footerp">Robert Strzelczyk © 2019 {{'AllRights' | translate}}</p>
   </div>
</body>

<router-outlet></router-outlet>